body {
  background-color: #808080;
}
h1 {
  font-size: 50px;/* フォントサイズ */
  padding: 5px 8px;
  color: #fff;
  background: #094;
  box-shadow: 5px 5px 0 #007032;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;/* 幅 */
  height: 60px; /* 高さ */
}
input {
  font-weight: bold;/* 太文字 */
  padding: 10px 10px; /* 塗りの余白 */
  font-size: 20px;/* フォントサイズ */
  border-radius: 5px;/* 角の丸み*/
  color: #000;/* テキストカラー */
  background-color: #FFF; /* 背景色 */
  height: 5px; /* 高さ */
}
select {
  font-weight: bold; /* 太文字 */
  font-size: 20px;/* フォントサイズ */
  border-radius: 5px;/* 角の丸み*/
  color: #000;/* テキストカラー */
  background-color: #FFF; /* 背景色 */
  text-align: center;
  width: 145px;/* 幅 */
}
.first-table, .second-table, .third-table, .fourth-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
}
.first-table td, .second-table td, .third-table td, .fourth-table td {
  border: 3px solid #e6f6f3;
  background-color: #e6f6f3;
  padding: 3px;
}
.first-table th, .second-table th, .third-table th, .fourth-table th {
  border: 3px solid #e6f6f3;
  background-color: #4d8dc1;
  color: #fff;
  text-align: center;
  padding: 3px;
  width: 180px;
  height: 3px; 
}
.second-table th {
  background-color: #c14d4d;
}
.third-table th {
  background-color: #764dc1;
}
.fourth-table th {
  background-color: #c1b54d;
}
/* 電話番号 */
.account_tel01, .account_tel02, .account_tel03 {
  width:90px;
}
/* 郵便番号・都道府県・市町村区 */
.p-postal-code, .p-region, .p-locality {
  width: 120px;
}
/* 町名番地・マンション名 */
.p-street-address, .p-extended-address {
  width:750px;
} 
form input[type="submit"] {
  background-color: #fff;
  border: solid 2px #191970;
  color: #191970;
  border-radius: 20px;/* 角丸 */
  padding: 10px 10px;/* 余白 */
  text-decoration: none;
  font-size: 10px;/* 文字サイズ */
  height: 40px;/* 高さ */
  width: 60px;/* 幅 */
  box-shadow: 0 5px 0 #191970;
  transition: .3s;
}
.flex {
  text-align: center;
  margin-top: 10px;
}
.button:hover {
  color: #191970;
  transform: translateY(5px);
  box-shadow: 0 0 0 #191970;
}