body {
  background: #808080;
} 
header, main, footer {
	width:1350px;
	margin:0 auto;
  background-color: #e6f6f3;
} 
h1 {
  font-size: 50px;/* フォントサイズ */
  padding: 5px 8px;
  color: #fff;
  background: #094;
  /* box-shadow: 5px 5px 0 #007032; */
  margin-left: auto;
  margin-right: auto;
  width: 90%;/* 幅 */
  height: 60px; /* 高さ */
}
/*パンクズナビ */
.breadcrumb {
  margin: 0 5px 20px 0;
  padding: 0;
  list-style: none;
  text-align: right;/* 右寄せ */
}
.breadcrumb li {
  position: relative;
  display: inline-block;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
  margin-right: 0.8em;
}
.breadcrumb li:after {/*三角の部分*/
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-style: solid;
  border-color: transparent;
  border-left-color: #aedfc6;/*背景色*/
  border-width: 14px 12px;
  width: 0;
  height: 0;
}
.breadcrumb li a {
  display: inline-block;
  padding: 0 3px 0 7px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #747772;
  background: #aedfc6;/*背景色*/
  font-size: 13px;
}
.breadcrumb li a:hover {
  color: #FFF;
}
/* パンクズナビ終了 */

table.info {
  border-collapse: collapse;
  height: 100px;
  width: 80%;
  margin: 0 auto 20px auto;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-bottom: 20px; */
  text-align: center;
}
table.info th {
  font-size: 25px;
  border: 5px solid #000;
  background-color: #664dc1;
  color: #fff;
}
table.info td {
  font-size: 40px;
  width: 200px;
  border: 5px solid #000;
  background-color: #fff;
  color: #000;
}
table.search {
  border-collapse: collapse;
  width: 50%; 
  margin: 0 auto 20px auto;
  text-align: center;
}
table.search th {
  font-size: 25px;
  border: 3px solid #000;
  background-color: #4d8dc1;
  color: #fff;
}
table.search td {
  height: 50px;
  border: 3px solid #000;
  color: #ffffff00;
}
select, input {
  font-weight: bold; /* 太文字 */
  font-size: 25px;/* フォントサイズ */
  border-radius: 5px;/* 角の丸み*/
  color: #000;/* テキストカラー */
  background-color: #FFF; /* 背景色 */
  width: 200px;
  text-align: center;
}
table.list th, td {
  white-space: nowrap;
}
table.list {
  border-collapse: collapse;
  margin: 0 auto 20px auto;
  text-align: center;
  width: 100%;
}
table.list th {
  /* width: 200px; */
  /* height: 30px; */
  border: 3px solid #000;
  background-color: #4d8dc1;
  color: #fff;
}
/* table.list .name{
  width: 180px;
}
table.list .deadline{
  width: 200px;
}
table.list .registration{
  width: 200px;
}
table.list .update{
  width: 200px;
} */
table.list td {
  font-weight: bold;/*  太文字 */
  /* height: 60px; */
  border: 3px solid #000;
  color: #000;
  background-color: #fff;
}
.btn1 {
  background-color: #fff;
  border: solid 2px #191970;
  color: #191970;
  text-decoration: none; /* 下線を消す */
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 30px;
  box-shadow: 0 5px 0 #191970;
  transition: .3s;
  cursor: pointer;
  display: inline-block; /* ボタンのように表示 */
  width: 130px;
  text-align: center; /* テキストを中央に配置 */
  margin: 0 0 20px 10%;
}
.btn1 { 
  color: #191970;
  transform: translateY(5px);
  box-shadow: 0 0 0 #191970;}

.btn1:hover {
  transform: translateY(5px); /* ホバー時にのみ下に移動する */
  box-shadow: 0 0 0 #191970; 
} 

.btn_area {
  margin: 0 auto 20px auto;
  text-align: center;
}
button {
  font-size: 30px;
  width: 300px;
  cursor: pointer;
  background-color: #bfc14d; 
} 

.button{
  font-size: 20px;
  width: 50px;
  cursor: pointer;
  background-color: #bfc14d;
  color: #191970; /* テキストの色を白に変更 */
  text-align: center;
  display: inline-block;
  padding: 3px 0;
  border-radius: 5px;
  text-decoration: none; /* 下線を除去 */ 
}
.button:hover {
  background-color: #a1a33a; /* ホバー時の色を少し濃く */
}
/* a:hover {
  color: #191970;
  transform: translateY(5px);
  box-shadow: 0 0 0 #191970;
} */
/* .detail .button{
  font-size: 30px;
  padding: 3px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50px;
  top: 260px;
  height: 10px;
  text-align: center;
  background-color: #bfc14d04;
}  */

/* 印刷時に適用されるスタイル */
@media print {
  /* すべての要素を非表示にする */
  body * {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
  }

  /* .print-area 内の要素を表示 */
  .print-area, .print-area * {
      visibility: visible;
      position: static;
      width: auto;
      height: auto;
  }

  /* .print-area をページの先頭に配置 */
  .print-area {
      position: relative;
      width: 100%;
      margin: 0 auto;
  }

  /* 印刷時のテーブル幅を制御 */
  .print-area table.list {
      width: 100%;
      margin: 0 auto;
      page-break-inside: avoid;
  }
}